<p>Note: This page hasn't been developed yet.</p>

<div class="literal-translations">
  <h1>Literal Translations of Mandarin Words</h1>
  <table>
    <th>Mandarin</th>
    <th>Literal Translation</th>
    <th>English</th>
    <tr>
      <td>开心果</td>
      <td>Happy Nuts</td>
      <td>Pistachios</td>
    </tr>
    <tr>
      <td>龙虾</td>
      <td>Dragon Shrimp</td>
      <td>Lobster</td>
    </tr>
  </table>
</div>
