<div id="skills-carousel">
<div class="skill-element"><%= image_tag("skills/windows.png") %></div>
<div class="skill-element selected-skill"><%= image_tag("skills/mac.png") %></div>
<div class="skill-element"><%= image_tag("skills/linux.png") %></div>
</div>
<div id="skills-content">
<h2 id="skills-title">Mac OS X</h2>
  <ul id="skills-notes">
    <li>I am famaliar with the Mac OS X environment.</li>
    <li>I also have experience with using MS-DOS, Windows XP, and Windows 8.</li>
  </ul>
</div>
