<div style="width: 85%; margin: 0 auto;" class="resume-options">
  <a href="http://ruiyang.ca/rl_resume_jul_24_2013.pdf"><img style="width: 50px;" src="http://i.imgur.com/0CCno2I.png"/></a>
  <img style="width: 61px;" src="http://www.metaltraveller.com/images/Mail_Button.png"/>
</div>
<div id="resume-wrapper" style="min-width: 1000px;">
  <div class="resume-header" style="margin: 0 auto; width: 80%; overflow: hidden; padding-top: 40px;">
    <img class="float-left"src="/assets/site-logo.png"/>
    <div style="text-align:right; margin: 25px 0 0 40px;" class="resume-header-title float-left">
      <h2 style="font-size: 14px; letter-spacing: 6px; margin: 0; padding: 0;">software developer</h2>
      <h1 class="resume-title" style="font-size: 35px; letter-spacing: 14px; margin: 15px -14px 0 0;">RICHARD LIU</h1>
    </div>
    <div class="float-left resume-header-contact" style="padding: 10px 0 0 0; text-align: right; letter-spacing: 2px; margin-left: 25px">
      <ul style="font-size: 14px; font-weight: bold;">
        <li class="first" style="margin-bottom: 20px">(416) 889-8891</li> 
        <li>contact@ruiyang.ca</li>
        <li>www.ruiyang.ca</li>
      </ul>
    </div>
  </div>

  <h3>~/summary</h3>
  <h3>~/skills</h3>
  <h3>~/work</h3>
  <h3>~/education</h3>
</div>
