<div style="width: 85%; margin: 0 auto;" class="resume-options">
  <a href="http://ruiyang.ca/rl_resume_jul_24_2013.pdf"><img style="width: 5%;" src="http://i.imgur.com/0CCno2I.png"/></a>
</div>
<div id="resume-wrapper">
  <h1 class="resume-title" style="margin: 30px; padding-top: 30px;letter-spacing: 4px;">Richard Liu</h1>
</div>
