<div id="resume-wrapper" style="min-width: 975px;">
  <div class="resume-header" style="margin: 0 auto 40px auto; width: 80%; overflow: hidden; padding-top: 40px;">
    <img class="float-left"src="/assets/site-logo.png"/>
    <div class="float-right resume-header-contact" style="padding: 10px 0 0 0; text-align: right; letter-spacing: 2px; margin-left: 25px">
      <ul style="font-size: 14px; font-weight: bold;">
        <li class="first" style="margin-bottom: 20px">(416) 889-8891</li> 
        <li>contact@ruiyang.ca</li>
        <li>www.ruiyang.ca</li>
      </ul>
    </div>
    <div style="text-align:right; margin: 25px 0 0 0; width: 70%" class="resume-header-title">
      <h2 style="font-size: 14px; letter-spacing: 6px; margin: 0; padding: 0;">software developer</h2>
      <h1 class="resume-title" style="font-size: 35px; letter-spacing: 14px; margin: 15px -14px 0 0;">RICHARD LIU</h1>
    </div>
  </div>
  <div class="resume-summary resume-content" style="width: 80%; margin:0 auto;">
    <h3 style="letter-spacing: 4px;">summary</h3>
    <ul style="font-size: 13px; letter-spacing:1px;">
      <li>One year of web development experience using LAMP and related technologies</li>
      <li>Personal *nix server configuration and administration</li>
      <li>Able to contribute to web page design and create mockups in Photoshop, HTML/CSS, and jQuery</li>
      <li>Vim/Terminal friendly and an average typing speed of more than 100wpm</li>
      <li>Reliable with minimal supervision and strive to optimize productivity by learning new tools</li>
    </ul>
  </div>

  <div class="resume-skills resume-content" style="width: 80%; margin:0 auto;">
    <h3 style="letter-spacing: 4px">skills</h3>
    <ul style="font-size: 13px; letter-spacing: 1px;">
      <li><b>Web Development: </b>PHP, Wordpress, Drupal, jQuery, Rails, MVC, SQL</li>
      <li><b>Web Design: </b>HTML, CSS, Photoshop, Illustrator</li>
      <li><b>Software Development:</b> SVN, Git, OOP, C++, ActionScript</li>
    </ul>
  </div>

  <div class="resume-work resume-content" style="width: 80%; margin:0 auto;">
    <h3 style="letter-spacing: 4px;">work</h3>
    <ul style="font-size: 13px; letter-spacing: 1px;">
      <li class="resume-job float-left" style="font-weight: bold">Rogers Digital Media</li>
      <li class="resume-date float-right" style="font-style: italic">May 2013 - Sep 2013</li>
      <li class="resume-job-title clear-all">Web Developer</li>
      <li>Completed assigned tasks within a small development team using SCRUM</li>
      <li>Contributed to the Sportsnet.ca transition to Wordpress</li>
      <li>Participated in company events such as the ShipIt Day Hackathon</li>

      <li class="resume-job float-left" style="font-weight: bold">Ethical Ocean Inc.</li>
      <li class="resume-date float-right" style="font-style: italic">Aug 2011 - Mar 2012</li>
      <li class="resume-job-title clear-all">Web Developer</li>
      <li>Assigned weekly development tasks on the company's e-commerce Drupal website</li>
      <li>Utilized git-svn as the version control</li>
      <li>Transitioned Google Analytics to asynchronous and added API calls throughout the site</li>
      <li>Overhualed Mailchimp to include new email triggers and user profiles</li>
      <li>Integrated HTML/CSS packages and PSDs to Drupal</li>
      <li>Designed and implemented an affiliate system for vendors</li>
      <li>Tested for CSS/JS compatibility issues for browsers and email clients</li>

      <li class="resume-job float-left" style="font-weight: bold">Ontario Ministry of Health and Long-term Care</li>
      <li class="resume-date float-right" style="font-style: italic">Jan 2011 - May 2011</li>
      <li class="resume-job-title clear-all">Web Developer</li>
      <li>Assigned development tasks on a portal built with Drupal which managed business related training</li>
      <li>Cross-referenced the website with the Government of Ontario Public Web Standard which consisted of fixing display issues</li>
      <li>Setup and managed the LAMP stack on a VPS for development purposes</li>
      <li>Managed all of the helpdesk related emails and provided support</li>
    </ul>
  </div>
  <div class="resume-education resume-content" style="width: 80%; margin:0 auto;">
    <h3 style="letter-spacing: 4px;">education</h3>
    <ul style="font-size: 13px; letter-spacing: 1px;">
      <li class="education-degree float-left"><b>Candidate for Bachelor of Applied Science</b> - Computer Engineering</li>
      <li class="clear-all" style="font-style: italic">University of Waterloo</li>
    </ul>
  </div>
</div>
<div style="padding-top: 35px;text-align:center; margin: 0 auto;" class="resume-options">
  <a href="http://ruiyang.ca/rl_resume_jul_24_2013.pdf"><img style="width: 60px;" src="http://i.imgur.com/0CCno2I.png"/></a>
</div>
