<div class="portfolio-container">
  <% @portfolios.each do |p| %>
    <div class="portfolio-item portfolio-item-1 float-container clear-all">
      <h2 class="portfolio-title float-right"><%= p.url %></h2>
      <a class="float-left" href="http://<%= p.url %>"><%= image_tag("portfolio/#{p.name}.png", :class=>"portfolio-item-image" )%></a>
      <div class="portfolio-content portfolio-content-1">
        <div class="portfolio-description"><%= p.description %></div>
      </div>
    </div>
  <% end %>
</div>
