body
{
  margin: 0;
  background-color: #282828;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul
{
  list-style-type: none;
}

a
{
  text-decoration: none;
}

a img{
  border: none;
}

#content{
  background-color: #D4F5CE;
  margin: 0 auto;
  clear: both;
  max-width: 1200px;
}

#page-wrapper{
  background-color: #282828;
}

#header
{
  background-color: #475539;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;

}

#site-banner{
  width: 550px;
  margin: 0 auto;
  padding-top: 15px;
  overflow: hidden;
}

.header-text{
  color: #FFFFFF;
}

#header img{
  float: left;
}

#header h1{
  font-size: 40px;
  margin: 0;
  clear: right;
  float: right;
  letter-spacing: 13px;
  margin-right: -13px;
}

#header h2{
  font-size: 10px;
  letter-spacing: 5px;
  float: right;
  margin-top: 26px;
}

.white-bg
{
  background-color: #FFF;
}

#content
{
  min-height: 1250px;
}

#footer
{
  height: 34px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

#site-name
{
  font-size: 2.121em;
  display: block;
  margin-bottom: 10px;
  padding: 10px 0;
  color: #97EF99;
}

#primary-navigation ul{
  margin: 0;
  height: 70px;
  padding: 10px 0 0 0;
  font-size: 0;
  overflow: hidden;
}

.last-menu-item{
  border-right: none !important;
}

#primary-navigation li
{
  font-size: 15px;
  border-right: solid #6A7C60;
  border-width: 1px;
  letter-spacing: 5px;
  height: 100%;
  color: #FFF;
  width: 22%;
  display: inline-block;
  background-color: #5A6A51;
  line-height: 70px;
}

.selected-navigation{
  background-color: #D4F5CE !important;
  color: #5A6A51 !important;
}

.float-container{
  width: 100%;
  overflow: hidden;
}

.clear-all{
  clear: both;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

#site-name a:hover
{
  opacity: 0.75;
}

#site-name a:visited, #site-name a
{
  color: #FFF;
}

div.social-icons a:hover
{
  opacity: 0.75;
}


.social-icons ul
{
  float: right;
  margin: 0;
  padding: 0;
}

.social-icons li
{
  float: left;
}

#skills-carousel
{
  padding-top: 40px;
  text-align: center;
}

.skill-element
{
  margin: 0 3px;
  float: left;
}

.selected-skill
{
}

.hovered-skill
{
  cursor: pointer;
}

.skill-os{
  color: #FFF;
}

.skill-language{
  color: #FFF;
}

.skills-container{
  width: 720px;
  margin: auto auto;
}

#skills-content
{
  clear: both;
  background-color: #008B9F;
  margin: 0 auto 0 auto;
  min-height: 200px;
  padding-top: 25px;
  color: white;
}

#skills-category
{
  padding-top: 45px;
  text-align: center;
}

.category-element{
  display: inline-block;
  padding: 0 10px;
  opacity: 0.5;
}

.skill-name{
  padding: 10px 0;
  margin: 0;
  color: #FFF;
}

#skills-content ul{
  margin: 0;
}

#skills-content li{
  margin-top: 5px;
}

.selected-category{
  opacity: 1;
}

#sa{
  position: absolute;
  margin-top: 10px;
  opacity: 0.075;
  text-align: center;
}

.portfolio-container{
  width: 88%;
  margin: 0 auto;
}

.portfolio-item{
  padding-top: 50px;
}

.portfolio-item-image{
  box-shadow: 10px 10px 5px #888;
  width: 550px;
  height: 325px;
}

.portfolio-content{
  float: right;
  width: 40%;
}

.portfolio-title{
  margin-top: 0px;
  font-size: 20px;
  letter-spacing: 3px;
  width: 40%;
  text-align: left;
}

.portfolio-description{
  line-height: 25px;
}

.footer-text{
  margin-left: 25px;
  margin-top: 7px;
}

@media only screen and (max-width: 1050px){
  .portfolio-item-image{
    width: 475px;
    height: 325px;
  }
}

@media only screen and (max-width: 950px){
  .portfolio-item-image{
    width: 550px;
    height: 275px;
  }
  
  .portfolio-content{
    clear: both;
    margin: 0 auto;
    width: 90%;
    float: none;
  }

  .portfolio-item a{
    padding-bottom: 25px;
    width: 100%;
    text-align: center;
  }

  .portfolio-title{
    float: none;
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 600px){
  .portfolio-item-image{
    width: 375px;
    height: 205px;
  }

  #site-banner{
    width: auto;
  }

  #site-banner img{
    float: none;
  }

  #header h2, #header h1{
    float: none;
  }

  .portfolio-content{
    text-align: center;
  }

  #primary-navigation li{
    width: 24.7%;
    font-size: 11px;
  }

  #header h1{
    font-size: 30px;
  }

  #site-banner img{
    width: 80px;
    height: 80px;
  }

}

@media only screen and (max-width: 425px){
  .portfolio-item-image{
    width: 335px;
    height: 185px;
  }
}
