<div id="skills-carousel">
  <div class="skills-container">
    <div class="skill-1 skill-os skill-element selected-skill" style="border: 5px 0"><%= image_tag("skills/windows.png") %>
      <div class="skill-name" style="background-color: #008B9F;">Windows</div>
    </div>
    <div class="skill-2 skill-os skill-element"><%= image_tag("skills/mac.png") %></div>
    <div class="skill-3 skill-os skill-element"><%= image_tag("skills/linux.png") %></div>
    <div class="skill-4 skill-language skill-element"><%= image_tag("skills/ruby.png") %></div>
  </div>
  <div id="skills-content">
    <ul>
      <li>I am good with Windows.</li>
    </ul>
  </div>
</div>
